[2018-12-24 19:37] WickedBrat1 opened #1 "Complete topic page"
Fetch data from profile URL and use it to complete the profile page as developed in PR #35
The backend URL is `/api/user/view/<username>` whereas on the frontend the URL is at `/users/<user-id>`
- [ ] Change userid in the frontend to username and get that username from URL to maki API call.
- [ ] Fetch data from backend and embed the data with proper conditions on the page

Make different pull req

[2018-12-24 19:38] WickedBrat1 opened #2 "Modify header"
Change header design and it's compatibilty.

[2018-12-24 19:44] WickedBrat1 opened #3 "Design a comment component."
Currenty we have two kinds of comments.
- [ ] Simple commenting for ideas.
- [ ] WYSIWYG commenting for project. For WSIWYG, we need to implement [Frola's text editor](https://github.com/froala/angular-froala-wysiwyg#use-with-angular-cli)

We need to implement one comment component for this to take `reference` to distinguish which is referred to and impleted the commenting likewise.

[2018-12-25 16:45] WickedBrat1 commented on #2
Completed

[2018-12-25 16:45] #2 closed

[2018-12-25 17:03] zerefwayne opened #5 "Design the Idea Feed"
Idea Feed resides at the route `/idea/feed`. Currently it has pagination setup and fetches 5 ideas from the backend. Design the idea feed to display ideas in a proper view.

[2018-12-25 17:04] zerefwayne opened #6 "Design Add Project Page"

[2018-12-25 17:08] zerefwayne opened #7 "Design the Issue component for project dashboard."

[2018-12-30 14:43] zerefwayne commented on #6
#11 opened.

[2018-12-30 14:43] #7 closed

[2018-12-30 20:52] WickedBrat opened #14 "Add loader at appropriate places"
We need material spinners at different places around the site. For eg: when a component is being loaded or a service is being waited for.

Add the following code to add spinner:
`<div class="loader" *ngIf="!isPageLoaded"><mat-spinner></mat-spinner></div>`
and declare the variable `isPageLoaded=false` in the respective `component.ts` file. This variable will be changed to `true` once the response i

[2018-12-30 20:54] WickedBrat1 opened #15 "Use local storage"
Use local storage to store API responses for faster processing and saving lags caused to API calls,

[2019-01-01 04:04] WickedBrat1 opened #16 "Fix like button"
Like button should have color and other properties set so that for a User it displays correctly.

[2019-01-01 04:12] WickedBrat1 opened #17 "Save users' profile image"

[2019-01-17 12:32] Rupeshiya commented on #15
@WickedBrat1 I think it will be better if you use cache instead of localstprage

[2019-01-21 13:00] WickedBrat1 commented on #15
Hi @Rupeshiya! Yes I agree with you. Localstorage won;t be effictive in the case.
Thanks! closing this issue now.

[2019-01-21 13:01] #15 closed

[2019-01-21 13:01] WickedBrat1 commented on #17
Completed!

[2019-01-21 13:01] #17 closed

[2019-01-21 13:02] WickedBrat1 commented on #6
Closed

[2019-01-21 13:02] #6 closed

[2019-01-21 18:25] zerefwayne opened #37 "Add issue component's width increases as we enter more text."
![cynthesize-issue](https://user-images.githubusercontent.com/28949397/51492463-f3fb0800-1dd7-11e9-8e62-f6f0a2a9708e.gif)

[2019-01-22 10:06] #37 closed

[2019-01-22 10:07] #1 closed

[2019-01-22 10:35] thesmallstar commented on #14
@opencodebot claim

[2019-01-22 16:00] zerefwayne commented on #14
@thesmallstar You can work on this :+1:

[2019-01-22 16:02] #16 closed

[2019-01-22 16:03] #3 closed

[2019-01-22 18:08] thesmallstar commented on #14
@zerefwayne  Are there any specific places I need to put it on? Or I need to put it in every possible component?

[2019-01-22 19:16] WickedBrat1 commented on #14
You need to put this wherever API calls are made via the apollo client and the returning data is used to create html. You may find places where HTML content is rendered upon checking an if condition. Eg: `*ngIf="comments"`

[2019-01-23 02:50] WickedBrat opened #42 "Changing font-family throughout the site"
We're using [Angular Material 2](https://material.angular.io) for most of the UI components. The `font-family` is set to Gotham Light for all the elements. But this doesn't get applied on most of the places. We want to use 1. Gotham Light for headings and prime texts and 2. Open Sans for all other texts throughout the site, may it be button text, paragraph or texts on any other Angular material co

[2019-01-23 13:03] WickedBrat1 opened #43 "Rmove additional padding around comments and replies"
In reference to te picture attached below, remove the additional padding around div and make the comment section more compact
![screenshot from 2019-01-23 18-09-28](https://user-images.githubusercontent.com/45864807/51607284-405e5900-1f3a-11e9-9006-74c9e70ff33b.png)

[2019-01-23 14:56] zerefwayne opened #44 "Remove hard coded Collaborator in Project View"
### Expected Result (ER):
Collaborators are shown only when they exist. Otherwise display a text "Nothing to show." in the contributors card.

### Actual Result (AR):
A blank collaborator is being displayed.

### STR:
1. http://localhost:4200/project/8-Tweeter/view

### Screenshots:
![image](https://user-images.githubusercontent.com/28949397/51615108-0ea2bd80-1f4d-11e9-8891-d3473aab9ff8.png)

[2019-01-23 15:01] zerefwayne opened #45 "Project time and creator to be displayed only if they exist."
### Expected Result (ER):
Project creation time and creator must be displayed only if they exist. Apply seperate conditions incase either of them is absent.

### Actual Result (AR):
`Created on by` is displayed.

### STR:
1. http://localhost:4200/project/8-Tweeter/view

### Screenshots:
![image](https://user-images.githubusercontent.com/28949397/51615394-bfa95800-1f4d-11e9-8816-43ff67e22dfb.png)

[2019-01-23 15:04] zerefwayne opened #46 "Change the /home route to idea-feed page."
### ER:
The /home should go to the route `http://localhost:4200/idea/feed`

### AR:
It is going to an empty home page.

### STR:
1. http://localhost:4200/home

### Screenshots:
![image](https://user-images.githubusercontent.com/28949397/51615509-0ac36b00-1f4e-11e9-9008-d5f347487c22.png)

[2019-01-23 15:53] thesmallstar commented on #45
@opencodebot claim

[2019-01-23 15:55] zerefwayne commented on #45
You can work on this.

On Wed 23 Jan, 2019, 21:23 Manthan Surkar <notifications@github.com wrote:

[2019-01-23 16:29] ShraddhaAg opened #47 "Untrack all vscode files and directories"

[2019-01-23 19:47] #47 closed

[2019-01-23 22:15] devgupta2607 commented on #42
I don't really know angular. Can I give this a try?

[2019-01-24 15:17] WickedBrat1 commented on #42
Assigned to you @devgupta2607

[2019-01-24 15:19] #45 closed

[2019-01-24 15:19] thesmallstar commented on #44
@zerefwayne  I think we can work on 3 issues at a time now. I will do this.

[2019-01-24 15:20] thesmallstar commented on #14
@WickedBrat1 I was a little confused while doing this. For now I am unclaiming the issue. I will take it as I am more familiar with the project :)

[2019-01-24 15:22] thesmallstar commented on #46
I will work on this
 @sourabh1031 are you on it?

[2019-01-24 15:27] sourabh1031 commented on #46
@thesmallstar yes let me try if i am unable to do then you can take it up

[2019-01-24 20:08] WickedBrat opened #51 "Write GraphQL endpoint to fetch user contributions on profile page"
On the Profile page, there are two tabs namely `projects` and `ideas`. These tabs should display the latest 6 ideas and projects created by the user.

Write a GraphQL query to fetch user contributions and make respective function in `profile.service.ts`

For clarifications and other help. Contact at the [Gitter Channel](https://gitter.im/Cynthesize-gitter/Lobby)

[2019-01-24 20:24] WickedBrat opened #52 "Add slideshow on the home page"
Add a slideshow on the route `/home`, i.e. in the `home.component.html` which displays 3-4 images and changes after a fixed interval automatically.

[2019-01-25 16:40] punisher1151 commented on #52
can I try this ?

[2019-01-25 16:55] WickedBrat commented on #52
Sure go ahead!

On Fri, Jan 25, 2019, 10:10 PM Ayush Verma <notifications@github.com wrote:

[2019-01-26 09:00] thesmallstar commented on #51
I will try to do it :)
I am very new to GraphQL.

[2019-01-26 09:08] thesmallstar commented on #51
@WickedBrat  the gitter channel link seems not to be working, I am little confused on how things are working in the backend here,  and the database structure.

[2019-01-27 16:00] WickedBrat commented on #51
@thesmallstar it's updated now

[2019-01-28 08:41] thesmallstar commented on #52
@punisher1151  are you working on this issue?

[2019-01-28 13:16] #44 closed

[2019-01-28 19:59] thesmallstar opened #55 "Adding collaborators on a projects"
PR #54

[2019-01-28 20:00] thesmallstar commented on #55
working on it.

[2019-01-29 06:20] WickedBrat commented on #52
@thesmallstar, there hasn't been any activity on this issue since past 3 days. You may start working on it.

[2019-01-29 06:21] thesmallstar commented on #52
Okay. :)

[2019-01-29 09:24] punisher1151 commented on #43
@WickedBrat I was facing some problem regarding setting up environent  but now its resolved so I'll try to do the task as early as possible

[2019-01-29 14:53] WickedBrat opened #56 "Fix Project URL for multiple words"
**Describe the bug**
When the project name is added with spaces, then the project URL generated contains `%20` in between the URLs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/project/add`.
2. Type a project name like `An awesome app`
3. Submit the project.

**Expected behavior**
The project URL generated should be something like `5-An-awesome-app`, rather it gets redirected to `

[2019-01-29 15:49] thesmallstar commented on #52
@WickedBrat  Have you decided on what images do I need to add, and the width of slider for the desktop users.
For now I have planned for - 70% of desktop width and dummy images.

[2019-01-29 15:56] WickedBrat commented on #52
@thesmallstar the width needs to be if the full width and the dummy images work for now! :+1: The slider will be replacing the banner that is on the home page. The height also needs to be around 400px-450px (whatever value suits best)

[2019-01-29 17:02] zerefwayne opened #57 "Add a minimal loader to Idea Feed until ideas load"
**Please discuss the loader design that will be implemented.**

[2019-01-29 17:07] thenullterminator commented on #57
@opencodebot claim

On Tue, Jan 29, 2019, 10:32 PM Aayush Joglekar <notifications@github.com
wrote:

[2019-01-29 17:10] zerefwayne commented on #57
@thenullterminator You can work on this issue. Actually there's already a loader present in the site somewhere. Implement the same one.

[2019-01-29 18:27] WickedBrat opened #59 "Navbar URL fixes"
**These are the list of fixes that are required in the Navbar**

- [x] The idea button should link to `/idea/feed` as it does, it should have a plus icon that should link to `/idea/add` page.
- [x] The Project button should link `/project/feed`.

- [x] The Project button should have a plus icon that sould link to `/project/add`.

- [x] Remove `My Projects` and `About` section

- [ ] Add `"Add"` te

[2019-01-29 18:37] WickedBrat opened #60 "Fix project stats"
In the project stats part, following fixes are required:

- [ ] Watching should display the length of array or should display 0 if the returned field is null.

- [ ] Delete `Mentors` and `Issues` part.

- [ ] Checkpoints should display `projectIssuessByprojectId.length`

[2019-01-29 18:39] #52 closed

[2019-01-29 18:51] SuneetKumar19 commented on #60
@opencodebot claim

[2019-01-29 18:52] SuneetKumar19 commented on #59
@opencodebot claim

[2019-01-30 06:16] WickedBrat commented on #60
@SuneetKumar19 You may solve this issue.

[2019-01-30 06:17] WickedBrat commented on #42
@devgupta2607 any updates??

[2019-01-30 06:31] thenullterminator commented on #42
If not working Can I work on it

On Wed, Jan 30, 2019, 11:47 AM Siddhant Srivastav <notifications@github.com
wrote:

[2019-01-30 06:37] WickedBrat opened #61 "Add social links to user profile"
At the users' profile page, add a dropdown to select the social platform and the URL to that platform. For example, the user wants to add github, facebook and twitter. The user would select from the dropdown which link to choose and in the corresponding text field, the user will add the link. The object that'll be sent as would be,
[code]
 This could be done in two parts:

- [ ] Create mutation fo

[2019-01-30 06:40] thenullterminator commented on #61
@opencodebot claim

On Wed, Jan 30, 2019, 12:07 PM Siddhant Srivastav <notifications@github.com
wrote:

[2019-01-30 11:16] WickedBrat commented on #42
@thenullterminator you can fix this :+1:

[2019-01-30 11:17] WickedBrat commented on #61
@thenullterminator please fix the previous issues assigned to you. Later you can continue with these.

[2019-01-30 11:19] WickedBrat commented on #59
@thenullterminator and @SuneetKumar19 please fix the previous issues alloted to you before picking up new ones.

[2019-01-31 05:18] zerefwayne opened #66 "Bug in add project form."
**Describe the bug**
A user can jump to second add-project form field even without filling previous ones.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://localhost:4200/project/add'
2. Click on any stepper 1, 2, 3, 4

**Expected behavior**

A user shouldn't be able to go to the next form field if he hasn't filled the previous one.

**Additional context**
Try to disable the next

[2019-01-31 05:27] zerefwayne opened #67 "Add watch-project button on project view page."
**Describe the solution you'd like**
Add buttons to watch a project beside and similar to the add Issue button.

Just adding a button for now will do the job. Functionality will be implemented later.

[2019-01-31 05:41] thenullterminator commented on #67
@opencodebot claim

On Thu, Jan 31, 2019, 10:57 AM Aayush Joglekar <notifications@github.com
wrote:

[2019-01-31 16:21] punisher1151 commented on #67
can I work on this

[2019-01-31 18:41] punisher1151 commented on #61
@WickedBrat Can I work on this

[2019-02-01 03:05] WickedBrat commented on #61
Go ahead @punisher1151

[2019-02-01 11:52] sourabh1031 commented on #51
@WickedBrat i am new to graphql and angular .  will i be able to solve this.

[2019-02-01 17:13] #51 closed

[2019-02-01 17:47] WickedBrat commented on #5
Fixed in #70

[2019-02-01 17:47] #5 closed

[2019-02-02 16:16] thesmallstar commented on #56
@WickedBrat  I have fixed this issue in my version. But when I updated my repo with the current verion, something seems to be changed and now no longer the user is redirected to the project page, but instead to home. am I missing something?

[2019-02-02 19:31] thesmallstar commented on #55
@WickedBrat  I needed some help on what exactly is my aim?
Just add front end chips? or anything else?

[2019-02-02 19:41] thesmallstar commented on #66
@zerefwayne  Why cannot we directly use the linear stepper? Like the one mentioned in Angular docs, I tried doing it but the other options get permanently disabled. any ideas?

[2019-02-02 19:48] zerefwayne commented on #66
@thesmallstar Go ahead.

[2019-02-05 06:19] prijeshb commented on #57
loader is loading on top right corner
Screenshot:
![screenshot 158](https://user-images.githubusercontent.com/16492616/52256216-e008e780-293b-11e9-828e-616ca75caf3d.png)
fixed it :
![screenshot 157](https://user-images.githubusercontent.com/16492616/52256261-0a5aa500-293c-11e9-91dd-1435780208f1.png)
![screenshot 156](https://user-images.githubusercontent.com/16492616/52256263-0c246880-293c-11e9-8a

[2019-02-05 15:53] #56 closed

[2019-02-05 16:15] thesmallstar commented on #66
@zerefwayne  Why cannot we directly use the linear stepper? Like the one mentioned in Angular docs?
I tried that but it wont work,

[2019-02-05 16:43] WickedBrat opened #81 "Implement infinite scroll in idea feed."
**Is your feature request related to a problem? Please describe.**

Currently mat-pagination has been implemented on the idea feed. It would be better if infinite scroll is implemented.

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-02-05 16:44] thesmallstar commented on #81
I want to try it :)

[2019-02-05 16:52] WickedBrat opened #82 "Black bottom border appears on hovering add idea/add project"
![peek 2019-02-05 22-18](https://user-images.githubusercontent.com/45864807/52289617-66511800-2994-11e9-9224-9aa3302d8b4a.gif)

[2019-02-05 16:53] WickedBrat commented on #81
@thesmallstar Go ahead. :+1:

[2019-02-05 16:57] zerefwayne opened #83 "Implement Popular and Latest sorting in Idea Feed."
The search filters are just plain text currently. Implement popular (sort by upvotes) and latest (sort by date descending) in idea feed.

![image](https://user-images.githubusercontent.com/28949397/52289909-f8592080-2994-11e9-8c05-44fbbdcde1d3.png)

[2019-02-07 10:38] prijeshb commented on #82
can I go for it?

[2019-02-07 13:12] WickedBrat commented on #82
Sure!

On Thu, Feb 7, 2019, 4:08 PM Prijesh <notifications@github.com wrote:

[2019-02-08 07:00] prijeshb commented on #82
There is problem with header class with link reference while hovering on button.
` &:hover {
      //border-bottom: 2px solid white; causes blinking of border`
For now I have commented it!!
We can set different for both of them if required.
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/16492616/52463496-0d080500-2b9d-11e9-85fa-73c9509ac7ef.gif)

[2019-02-08 07:56] WickedBrat commented on #82
Looks good to me. You may create a PR for this

On Fri, Feb 8, 2019, 12:30 PM Prijesh <notifications@github.com wrote:

[2019-02-08 10:45] prijeshb commented on #82
@WickedBrat
but this will remove hovering effect  on idea feed

[2019-02-08 13:45] WickedBrat opened #85 "Redirect upon idea submission"
Currently, when an idea is submitted, it doesn't redirect anywhere. It should redirect to ideas feed page uponn successful addition i.e. `/view/feed/ideas`.

[2019-02-08 14:07] WickedBrat opened #86 "Trim names of projects and ideas with spaces"
The names of any project or any idea shouldn't be of type `"   name   "` or `"    name"`. Rather it should trim all the values of the extra spaces between words.

[code]

[2019-02-08 14:11] WickedBrat opened #87 "Backup texts for no project or idea"
On the users' profile page, if there is no project created by the user.
- If the user is visiting his/her profile:
	- It should display a button with text "Click to add project"
- If the user is visiting other's profile:
	- It should display "No projects created."

Same goes for ideas

[2019-02-08 15:43] WickedBrat commented on #82
I'm moot on this one. @zerefwayne, What's your opinion?

[2019-02-08 15:44] WickedBrat commented on #82
Also, create a PR for this, we can have the discussion there.

[2019-02-08 16:25] WickedBrat opened #89 "Use datepicker for date of birth"
On the profile page, it's better to use [Material datepicker](https://material.angular.io/components/datepicker/overview) for taking date of birth.

[2019-02-08 17:24] thesmallstar commented on #86
I will do it :)

[2019-02-08 17:25] thesmallstar commented on #89
I will add it :)

[2019-02-08 17:56] prijeshb opened #92 "Profile Idea cards requires linkage"
It redirects to home on click

![ezgif com-gif-maker](https://user-images.githubusercontent.com/16492616/52496258-e24b9a00-2bf8-11e9-8784-e329f4b6086f.gif)

[2019-02-09 00:22] zerefwayne commented on #92
@prijeshb This has already been implemented in PR #88 :+1:

[2019-02-09 00:22] #92 closed

[2019-02-09 05:03] prijeshb commented on #85
Should I create PR for this?

[2019-02-09 06:45] thesmallstar commented on #87
I am working on this :)

[2019-02-09 08:12] #89 closed

[2019-02-09 08:18] WickedBrat commented on #85
Yes @prijeshb, create PRs for the issue as soon as you complete it.

[2019-02-09 08:23] #82 closed

[2019-02-09 17:34] #86 closed

[2019-02-09 20:45] WickedBrat opened #98 "Convert names to URLs"
The title of projects and ideas cards should be links to them. This needs to be changed on idea-feed page and profile page.

[2019-02-11 09:02] sanyamdogra commented on #59
I want to work on this, can i?

[2019-02-11 09:50] thesmallstar commented on #98
I am working on it :)

[2019-02-11 10:25] thesmallstar commented on #98
@WickedBrat Where should the idea page link? I can find the separate page for projects, but there is no such page for ideas. Am I missing something?

[2019-02-11 10:53] WickedBrat commented on #98
@thesmallstar You're right about the project page. For the ideas, it should open the ideas model. Just as it does upon the click on the icon.

[2019-02-11 10:55] thesmallstar commented on #98
@WickedBrat okay :)

[2019-02-11 10:58] WickedBrat commented on #59
@sanyamdogra Most of the tasks has been completed. I've updated the issue, and you may start up with the task

[2019-02-11 11:00] WickedBrat commented on #85
completed in #97

[2019-02-11 11:00] #85 closed

[2019-02-11 13:30] WickedBrat opened #103 "Display user profile picture in navigation bar"
The navigation bar should display the user's profile page on dropdown.

- Refer to [details.component.html](https://github.com/Cynthesize/cynthesize-frontend/blob/master/src/app/profile/user/details/details.component.html#L10) for use of profile picture. Currently we're also storing the user image link in the local storage. You should fetch the link/public id of the image and use that.

Refer to t

[2019-02-11 13:38] WickedBrat opened #104 "Add feature to delete idea."
This could be completed in two parts:

- [ ] Write mutation to delete a row from the `ideas` table.

- [ ] Use the mutation to delete an idea.

[2019-02-11 15:29] prijeshb commented on #60
Made PR for it

[2019-02-11 15:43] #87 closed

[2019-02-11 15:57] neozenweb commented on #14
Can I take a stab at this one? I think with the info from the messages above, I may be able to work on this issue. Thanks

[2019-02-11 16:18] WickedBrat commented on #14
Go ahead with this @neozenweb

[2019-02-11 17:36] #98 closed

[2019-02-11 19:24] WickedBrat opened #107 "Set minimum character limit to ideas and project description"
Do not allow submitting the idea or project if the description is less than fixed number of letters.

- [ ] **For projects:** Limit should be 150 characters.
- [ ] **For ideas:** Limit should be 50 characters.

[2019-02-12 02:41] sanyamdogra commented on #107
Claim ?

[2019-02-12 04:54] #60 closed

[2019-02-12 04:54] WickedBrat commented on #107
@sanyamdogra you may go forward with this.

[2019-02-12 07:04] prijeshb commented on #103
working on it

[2019-02-12 14:25] PrathamDogra commented on #103
Working on it.

[2019-02-12 14:32] zerefwayne opened #108 "Make project dashboard page responsive"
This is a big feature so kindly discuss your implementation before starting to work on this issue.

[2019-02-12 14:43] #46 closed

[2019-02-12 14:43] #42 closed

[2019-02-12 14:48] #66 closed

[2019-02-12 14:55] zerefwayne opened #109 "Text is cut-off from bottom in edit fields on profile page"
**To Reproduce**

1. Go to profile page
2. Click on edit icon
3. Type something in any input field, characters with lower serif get cut off.

**Screenshots**

![image](https://user-images.githubusercontent.com/28949397/52644001-175f3180-2f04-11e9-82cf-890f71749504.png)

[2019-02-12 15:00] zerefwayne opened #110 "Idea card on profile page extends beyond 50%"
**Describe the bug**
The idea card has a property `flex: 0 0 49%` defined but it extends beyond it when text is too long.

**To Reproduce**

1. Add a new idea with similar text as this.
2. Go to profile page

**Expected Behaviour**

2 cards should be lined up in a row always.

**Screenshots**

![image](https://user-images.githubusercontent.com/28949397/52644274-88064e00-2f04-11e9-82e6-95d81421aa14

[2019-02-12 15:21] neozenweb commented on #14
02/12 update:
src->app->add->add-idea   Variable isLoaded (done)
src->app->add->project        variable formNotfilled (done)
src->app->profile->user->details(the example given in the earlier messages)   variable isPageLoaded  (already completed)
Questions:
1. I have tested these changes in the testing environment where there is not much data so the spinner is not even showing. How do I test under

[2019-02-12 16:30] neozenweb commented on #43
I am working on another issue, and to test the issue I have add new comments. But I could only type in the comment but no buttons or no way to scroll down to add the comment.
![nopagescrollcomments](https://user-images.githubusercontent.com/37545009/52651051-7ba8d380-2eb9-11e9-8e24-196e1565bb7d.jpg)
Should I rise a new issue? Thanks.

[2019-02-12 17:21] WickedBrat opened #112 "Use Project name as well in the URL"
Currently any project can be viewed as `/view/project/<project-id>`. This should not be the case. The project name should be `/view/project/<project-id>-<project-name>`.

Eg: The URL for the Cynthesize project is currently `/view/project/191`, it should be `/view/project/191-Cynthesize`.

This needs to be completed in two parts:

- [x] Modifying query to match for project name as well.

- [x] Modi

[2019-02-12 17:45] WickedBrat commented on #43
Yes, please open a new issue for this

On Tue, Feb 12, 2019, 10:00 PM Sunitha Kandalam <notifications@github.com
wrote:

[2019-02-12 17:46] WickedBrat commented on #110
@zerefwayne, I don't think we'll ever come across this issue. The
description would never have any such text in it.

On Tue, Feb 12, 2019, 8:30 PM Aayush Joglekar <notifications@github.com
wrote:

[2019-02-12 17:57] neozenweb opened #113 "Not able to add comments on existing issues"
**Description** : I am working on another issue, and to test the issue I have to add new comments. But I could only type in the comment but no buttons or scroll bar to add the comment.

**Browser** :Chrome
**Steps to reproduce the issue**
1. Go on to the user profile page by clicking on the top right hand corner user icon.
2. Click on one of the existing projects on the profile (which has checkpoi

[2019-02-12 20:07] WickedBrat commented on #113
@neozenweb Please add the steps to reproduce

[2019-02-12 20:30] neozenweb commented on #113
Edited the original to add the steps to reproduce this issue.

[2019-02-13 05:57] prijeshb commented on #103
Is this good or should change something?
![screenshot 167](https://user-images.githubusercontent.com/16492616/52690023-50d68200-2f82-11e9-87a0-6fd4033d7e18.png)

[2019-02-13 06:00] prijeshb commented on #103
Is this Good or should I change anything ?

![screenshot 167 1](https://user-images.githubusercontent.com/16492616/52690174-ccd0ca00-2f82-11e9-848d-de053a4469a3.png)

[2019-02-13 06:05] WickedBrat commented on #103
Hey! Please float the image to the right side. That way it leaves lesser
whitespace.

On Wed, Feb 13, 2019, 11:30 AM Prijesh <notifications@github.com wrote:

[2019-02-13 08:21] JayaKrishnaNamburu opened #114 "Page is being reloaded when we add a new issue."
Repeat the steps 1 & 2 of this issue and when step 2 is completed, the page reloads instead of fetching the latest data from the endpoints.

Expected behavior
The page should not reload in a Single Page Applications.

<img width="671" alt="screenshot 2019-02-13 at 10 57 35 am" src="https://user-images.githubusercontent.com/11075561/52696874-2b537380-2f96-11e9-8882-174621600c9b.png">

This is prese

[2019-02-13 09:30] PrathamDogra commented on #109
Working on this,

[2019-02-13 10:11] prijeshb commented on #103
how about this ?

![screenshot 170 1](https://user-images.githubusercontent.com/16492616/52704086-cc95f600-2fa5-11e9-9876-5df9a97bcdbe.png)

[2019-02-13 10:24] PrathamDogra commented on #109
@zerefwayne the issue is being resolved
![untitled](https://user-images.githubusercontent.com/43649218/52704894-a1aca180-2fa7-11e9-8ca3-ccc0aea02146.png)

[2019-02-13 11:06] WickedBrat opened #117 "Fix continuous deployement for Auth0"
**Steps to Reproduce:**
For a PR, click on the develop preview, it'll open login page for the corresponding preview build, upon logging in you'll be redirected back to `cynthesize-develop.netlify.com`.

**Explanation:**
We currently have continuous deployment setup at netlify.com. For a PR, when a develop preview is built, we can't check it as the callback URL in [evironment.ts]() is set to redire

[2019-02-13 13:29] #107 closed

[2019-02-13 13:31] WickedBrat commented on #113
@neozenweb Does the scrolling not work? I'm unable to reproduce the error.

[2019-02-13 13:33] WickedBrat commented on #57
@prijeshb please create a PR for the fix for center spinner

[2019-02-13 13:34] #109 closed

[2019-02-13 13:36] neozenweb commented on #113
Yes the scrolling does not work and I am not able to add the comment. I checked the same error on the netlify development version too. I am using Chrome browser.

[2019-02-13 13:39] WickedBrat commented on #59
@sanyamdogra any updates?

[2019-02-13 13:40] WickedBrat commented on #67
@punisher1151 any updates?

[2019-02-13 13:56] Jaggu-123 commented on #112
@WickedBrat claim

[2019-02-13 13:57] Jaggu-123 commented on #104
@WickedBrat claim

[2019-02-13 14:02] sanyamdogra commented on #59
I thought this has already been done that's why i worked on other one

[2019-02-13 17:35] WickedBrat commented on #59
Yes, the specified was done. Now you need to add the text "Add" along with
the plus button in the header

On Wed, Feb 13, 2019, 7:32 PM Sanyam Dogra <notifications@github.com wrote:

[2019-02-13 17:41] prijeshb opened #118 "Bug in small screen idea feed navigation"
**Describe the bug**
On small screen by clicking on Idea feed navigates to home.

**Expected behavior**
On clicking Idea feed should navigate to Ideas page

**Screenshots**

![ezgif com-video-to-gif 1](https://user-images.githubusercontent.com/16492616/52731674-4ea50f80-2fe4-11e9-83f8-e967ee63d3cf.gif)
 .

[2019-02-13 20:40] WickedBrat commented on #118
@prijeshb Would you like to take this?

[2019-02-13 20:45] WickedBrat commented on #104
Go ahead with this Issue @Jaggu-123

[2019-02-13 20:52] WickedBrat commented on #113
@neozenweb It appears to work fine with me.

![peek 2019-02-14 02-21](https://user-images.githubusercontent.com/45864807/52743087-44dcd580-2fff-11e9-81c1-c8a7985d91b7.gif)

@prijeshb @sanyamdogra @zerefwayne Can you please confirm this?

[2019-02-14 06:41] WickedBrat opened #120 "Change URL for checkpoints"
**Steps to reproduce:**
- Open any projects page.
- Open/Add any checkpoint from the left navbar.
- Notice that the route doesn't change

**Expected Behaviour:**
The URL for different checkpoints should change. For example: when we open "Design" checkpoint (say), The URL should something like `/view/project/191-Cynthesize/Design`.

**Current Behaviour:**
The URL remains the same `/view/project/191

[2019-02-14 06:48] Jaggu-123 commented on #118
@WickedBrat I would like to take this issue

[2019-02-14 07:29] richa208 opened #121 "Add Idea page is not responsive"
**Describe the bug**
On resizing the window, add idea page does not resize and the scroll bar also doesn't allows to view the entire modal.

**Expected behavior**
On changing the screen size the page should resize accordingly to aid users.

**Screenshots**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/25206394/52770122-4b4b6b80-3058-11e9-9764-602ea1f6499d.gif)

[2019-02-14 08:27] prijeshb commented on #113
@WickedBrat  Yes he is right about the scrolling issue of comment section. There seems to have problem in each of those places where editor is used.
**Screenshot**:
 No scroll bar is loaded in editor

![ezgif com-crop 1](https://user-images.githubusercontent.com/16492616/52772933-c49a8c80-305f-11e9-9d5c-e18dd3733e11.gif)

[2019-02-14 08:47] prijeshb commented on #118
@Jaggu-123 sorry but already made PR for this.

[2019-02-14 09:12] WickedBrat commented on #121
@richa208 Thanks for raising the PR! Would you like to take this?

[2019-02-14 09:27] WickedBrat commented on #113
@prijeshb I suppose this is a different issue, right @neozenweb?
Also, @prijeshb This issue can be easily solved by removing the CSS applied on the `.CodeMirror` in the file [comments.component.scss](https://github.com/Cynthesize/cynthesize-frontend/blob/master/src/app/shared/comments/comments.component.scss)

[2019-02-14 09:53] richa208 commented on #121
Yes sure

[2019-02-14 10:52] sanyamdogra commented on #113
![image](https://user-images.githubusercontent.com/33497630/52782194-80fe4d80-3074-11e9-87ce-88df8062f338.png)
@WickedBrat i am able to add comments and  i don't think there's an issue with it. As @prijeshb mentioned there's an issue with scroll in td text editor.

[2019-02-14 11:04] prijeshb commented on #113
@WickedBrat  yes there is no problem with posting comments but is there with scrolling.

[2019-02-14 13:15] neozenweb opened #125 "Upvote on comments"
**Describe the bug**
I. Upvote on new comment does not work or show anything.
II. Upvote on existing comments toggles the values 1,0 or 1,2

**To Reproduce**
Steps to reproduce the behavior:
1. Click on profile.
2. Click on a project.
3. On the Left hand side menu scroll down to checkpoints.
4. Click on one of the checkpoints
5. Add a new comment and click Upvote (for part I)
6. Click Upvote for e

[2019-02-14 13:25] #59 closed

[2019-02-14 13:27] neozenweb commented on #14
I have added the spinner loader for 4 components(html and ts):

src/app/add/add-idea components
src/app/add/project components
src/app/shared/comments  components
src/app/shared/liking components

I have tested the changes using setTimeout(). What are my next steps? Should I do a pull request?
Can you point out to me to any standard procedure for the pull request, merge etc. Thanks.

[2019-02-14 13:42] #118 closed

[2019-02-14 13:48] WickedBrat commented on #113
@prijeshb Please open an issue for the size issue of the CodeEditor and the CSS related to it.

@neozenweb I think this issue could be solved by adding a scrollbar in the verticle direction. Would you like to solve this?

[2019-02-14 14:06] PrathamDogra commented on #108
So here is what I thought. First we need to install bootstrap (using npm install bootstrap) and then use the grid system of bootstrap in the required html file.

[2019-02-14 14:11] #103 closed

[2019-02-14 14:11] WickedBrat commented on #114
Would you fix this @JayaKrishnaNamburu ?

[2019-02-14 14:24] WickedBrat commented on #14
@neozenweb You may start create a PR with appropriate title and referencing this issue with text `Fixes #14` in the PR description

[2019-02-14 14:28] WickedBrat commented on #108
@PrathamDogra In our project, we already use Angular Material 2. Using Angular Material 2 with Bootstrap would make the dependencies very heavy and reduce the response time of the site making it bloaty.

I'd suggest going with the flex layout for the issues.

[2019-02-14 14:57] PrathamDogra commented on #108
Okay will try it with flex layout.

[2019-02-14 16:50] JayaKrishnaNamburu commented on #114
Yeah, will have a look tomorrow 👍

[2019-02-14 17:14] prijeshb opened #127 "Add scrollbar in codeEditor"
**Describe the bug**
currently no scrollbar is loaded as you increase size of text in editor, but instead size of Editor increases.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'existing project by adding it if do not have one or from profile section on top right corner'
2. Click on 'Add issuse or comment on any project'
3. See error

**Expected behavior**
Vertical scrollbar is avai

[2019-02-14 18:54] zerefwayne commented on #108
@PrathamDogra The layout is designed purely with scss and flexbox.

[2019-02-14 18:59] WickedBrat commented on #125
@neozenweb The first part is indeed an issue but that's not the case with the second part. We don't want to allow a single user to upvote a comment multiple times.

In addition to this, I suppose the best fix would be to change the color of the text `Upvote (1)` once it has been upvoted by the user,  indicating that when clicked, it'll removed the upvote.

[2019-02-14 19:03] zerefwayne opened #128 "Profile picture not being shown in user page mobile view."
**Screenshots**

#### Desktop View
![image](https://user-images.githubusercontent.com/28949397/52810686-22a78e00-30b9-11e9-912a-23c406a77aa2.png)

### Mobile View
![image](https://user-images.githubusercontent.com/28949397/52810730-3ce16c00-30b9-11e9-8a9f-22c2f6b9bfdc.png)

[2019-02-14 19:10] zerefwayne opened #130 "Issue with profile picture in header dropdown."
**Describe the bug**
When someone opens the website for the first time, the design looks okay. But as soon as we navigate to some other page, the alignment breaks.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a hard refresh on the website. Click the menu on header.
2. Click on **Profile** option.
3. Click on the menu again.

**Screenshots**

**Expected view**
![image](https://user-im

[2019-02-14 19:21] WickedBrat commented on #130
@prijeshb in continuation with your PR #122. PTAL

[2019-02-14 19:24] zerefwayne opened #131 "User details in idea card depends on length of username."
**Describe the bug**

The div's width depends on the length of the username despite it having a fix width defined.

**Screenshots**

![image](https://user-images.githubusercontent.com/28949397/52811829-18d35a00-30bc-11e9-8e10-a48268561e66.png)

**Would you like to work on this issue?**
No

[2019-02-14 23:27] Jaggu-123 commented on #131
@zerefwayne I will take this issue

[2019-02-15 03:31] revanth-reddy commented on #130
@prijeshb Can I work on this issue?

[2019-02-15 04:47] sanyamdogra commented on #120
I am giving it a shot @WickedBrat

[2019-02-15 04:58] zerefwayne commented on #131
@Jaggu-123 You've two issues already assigned. Unclaim them if you're not working on them.

[2019-02-15 05:14] prijeshb commented on #130
@revanth-reddy NO
You can checkout other issues :)

[2019-02-15 05:30] revanth-reddy commented on #127
@prijeshb please assign me this issue

[2019-02-15 05:57] prijeshb commented on #127
@revanth-reddy Assigned to you.

[2019-02-15 06:31] revanth-reddy commented on #128
@zerefwayne can I work on this? Please assign me.

[2019-02-15 06:37] prijeshb commented on #128
@revanth-reddy You  already have claimed an issue. If you are not working on it unclaim it.

[2019-02-15 16:04] AdityaAnandKrishna commented on #131
@zerefwayne Can I work on this issue.
will you assign this issue to me ?

[2019-02-15 16:59] zerefwayne commented on #131
@AdityaAnandKrishna Yes you can work on this issue.

[2019-02-15 17:01] #130 closed

[2019-02-15 17:03] #121 closed

[2019-02-15 19:25] WickedBrat opened #134 "Add bot support the repo"
Add the bot @cynthesizebot on the repo to track issues and user comments and maintenance for the issues and PRs

[2019-02-15 19:37] #61 closed

[2019-02-16 08:41] AdityaAnandKrishna commented on #131
![cynthesize 1](https://user-images.githubusercontent.com/33352601/52896980-be89e480-31f4-11e9-85e6-8d65e7295c5a.png)

Is it ok

[2019-02-16 08:53] WickedBrat commented on #131
LGTM

[2019-02-16 08:55] #131 closed

[2019-02-16 13:28] AdityaAnandKrishna commented on #127
Can I work on this issue.

[2019-02-16 13:30] sanyamdogra commented on #127
Hey @AdityaAnandKrishna, @revanth-reddy is already working on this issue. You may choose another.

[2019-02-16 13:51] AdityaAnandKrishna commented on #128
Can I work on this issue ?

[2019-02-16 16:38] AdityaAnandKrishna commented on #128
![cynthesize 7](https://user-images.githubusercontent.com/33352601/52902483-3e38a300-3237-11e9-9c46-f79d23f03da1.png)
Is it ok

[2019-02-16 20:59] WickedBrat commented on #128
Looks good to me @zerefwayne

On Sat, Feb 16, 2019, 10:08 PM Aditya Anand <notifications@github.com wrote:

[2019-02-17 07:22] prijeshb commented on #127
@revanth-reddy Any updates ??

[2019-02-17 07:51] revanth-reddy commented on #127
@prijeshb The scrollbar is hidden because of styling from node_modules/simplemde/dist/simplemde.min.css

where the code is
.CodeMirror-scroll{
min-height:300px;
}

which has to be changed to
.CodeMirror-scroll{
height:300px;
}

But Node_modules is added to git_ignore so direct change in css won't work because of git.
I am still struck there.

[2019-02-17 10:45] WickedBrat commented on #127
The best solution would be to remove the CSS property applied. Or If you
want apply a CSS property, you may want to go for inline CSS.

On Sun, Feb 17, 2019, 1:21 PM Revanth Reddy <notifications@github.com wrote:

[2019-02-17 13:43] zerefwayne opened #140 "Excess padding in view idea modal."
**To Reproduce**
Steps to reproduce the behavior:
1. Open idea feed page.
2. Click on expand button on any idea.

**Expected behavior**
The excess padding should be removed.

**Screenshots**
![image](https://user-images.githubusercontent.com/28949397/52913881-135a5780-32e8-11e9-854a-5c8bd6f98209.png)

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Browser Chrome
 - Versi

[2019-02-17 13:48] zerefwayne opened #141 "Number of ideas on one page in Idea Feed doesn't work properly."
**Describe the bug**
When we change number of ideas form 5 to 10, it doesn't work as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Idea Feed
2. Change the number of ideas from 5 to 10
3. See error

**Expected behavior**
Set the default number of ideas as 10 and remove the facility to change number of ideas.

**Screenshots**
![cynthesize issue 1](https://user-images.githubus

[2019-02-17 14:00] AdityaAnandKrishna commented on #140
@zerefwayne  you are talking about mat-dialog box padding or idea container

[2019-02-17 14:05] AdityaAnandKrishna commented on #140
@zerefwayne  I think decreasing the padding by 1 rem for both mat-dialog and container-idea will be ok

[2019-02-17 14:21] zerefwayne commented on #140
@AdityaAnandKrishna Yeah it is related to mat-dialog box. Try removing the default padding.

[2019-02-17 14:25] zerefwayne opened #142 "Bug in edit profile view."
**Describe the bug**
Serifs are being cutoff from bottom in edit profile view.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Profile
2. Click on Edit Button
3. Type some characters 'y', 'g', 'p' with lower serifs in input fields.
4. See error

**Expected behavior**
Their should be proper padding so that serifs don't get cut off.

**Screenshots**
![image](https://user-images.githubuse

[2019-02-17 14:32] AdityaAnandKrishna commented on #140
@zerefwayne  so you want me to remove  or decrease the mat-dialog padding.
for me if I remove the padding then it looks much better and i can add some box- shadow to the container-idea

[2019-02-17 14:40] prijeshb commented on #140
@AdityaAnandKrishna I think so removing fixes it

[2019-02-17 15:45] AdityaAnandKrishna commented on #140
@zerefwayne   we cant simply change the property of mat-dialog-container
I tried to override the property of mat-dialog-container but it did't worked i.e
--> add css in idea-feed.component.scss
      .custom-dialog-container.mat-dialog-container {
        padding: 0 !important;
      }
--> add  panelClass: 'custom-dialog-container' in openDialog functon   of idea-feed.component.ts

      const dia

[2019-02-17 15:57] WickedBrat opened #143 "Complete contributing guide"
Contributing guide, at both wiki and contributing.md should be fully equipped with guides for developers to get started.
It currently requires the following things

- [ ] Naming conventions for pull requests

- [ ] Guides for opening issues

- [ ] Guides for creating a PR.

_Add more points as you feel necessary._

[2019-02-17 16:24] WickedBrat opened #144 "Update README.md"
README.md should contain all the info about the project.
Overview of every specifications should be present in the README.md
It should contain following information:

- [ ] Information about authentication with Auth0.

- [ ] Info about Hasura and it's use in the project

_More options to be added to the list_

[2019-02-17 20:08] thesmallstar commented on #141
Can I work on this?

[2019-02-17 22:00] Jaggu-123 commented on #142
@zerefwayne I will work on it

[2019-02-18 02:28] sanyamdogra commented on #113
Why is this issue open? Please close it @neozenweb

[2019-02-18 05:11] richa208 opened #145 "Redirection while editing profile"
**Describe the bug**
Redirection to Add Projects page while editing the profile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile'
2. While editing location, birthday or bio if we press Enter then redirection to Add Projects page occurs.

**Expected behavior**
No redirection and save feature instead.

**Screenshots**

![edut](https://user-images.githubusercontent.com/25206394/5

[2019-02-18 05:50] prijeshb commented on #145
@richa208 would you like to take this ?

[2019-02-18 05:55] prijeshb commented on #142
@zerefwayne @Jaggu-123  This issue is already listed and I guess resolved #109

[2019-02-18 10:22] zerefwayne commented on #145
@richa208 Assigned to you.

[2019-02-18 10:23] #55 closed

[2019-02-18 15:35] richa208 commented on #145
@prijeshb if you want, you can take up this issue.
@zerefwayne if it is ok...

[2019-02-18 17:53] #140 closed

[2019-02-18 18:01] revanth-reddy commented on #125
@WickedBrat  can I work on this issue ?

[2019-02-18 18:06] #14 closed

[2019-02-19 15:54] prijeshb opened #151 "Validation required at checkpoint selection while adding issue"
**Describe the bug**
Even though checkpoint is not selected issue can be submitted
]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Add Issue in project section view/project/project-name'
2. Click on 'Add Issue'
3. Don't select checkpoint
4. Add Issue
5. See error as checkpoint without name

**Expected behavior**
checkpoint should be displayed after submission of issue

**Screenshots*

[2019-02-19 17:53] richa208 opened #152 "No save button after editing profile"
**Describe the bug**
After editing the profile there is no button to save the changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Profile'
2. Click on 'edit'
3. Make any changes

**Expected behavior**
After making any change, user should have the option to cancel or save it.

**Screenshots**
![edit](https://user-images.githubusercontent.com/25206394/53036057-ebf8bb80-349c-11e9-83

[2019-02-19 17:58] richa208 commented on #152
The feature to have 'save' and 'cancel' button is already present in the code but due to some bug these buttons are not visible.

[2019-02-19 18:45] neozenweb commented on #152
This is the same issue I had faced with the Comments Add button too. On
Chrome dev tools (Ctrl Shift I) you can see the buttons if you switch to
other media like iphone or ipad etc. The problem is with the
"Responsiveness" of the web pages, just what I have observed.

On Tue, Feb 19, 2019 at 1:00 PM Richa Gautam <notifications@github.com>
wrote:

[2019-02-19 19:45] WickedBrat opened #153 "Add dialog for confirmation to delete"
To delete an idea we must have dialog that prompts us to confirm before deleteing an idea from the user profile page.

This requires completion of three tasks:

- [ ] Removing the delete icon from the idea feed.

- [ ] Adding delete button on the profile page.

- [ ] Adding dialog to prompt for deleting an idea.

_You may create different PRs for the tasks_

[2019-02-19 19:48] WickedBrat commented on #152
Thanks, for filing this issue as it wasn't visible to us on your build.
 @neozenweb @richa208 whosoever wishes to fix this may assign themselves on the issue and start working

[2019-02-19 19:50] WickedBrat commented on #134
@ananya-agrawal any updates on this?

[2019-02-19 20:05] WickedBrat opened #154 "Test"
something

[2019-02-19 20:05] WickedBrat commented on #154
/duplicate

[2019-02-19 20:05] duplicator[bot] opened #155 "Test"
something

Copy of [#154](https://github.com/Cynthesize/cynthesize-frontend/issues/154)

[2019-02-19 20:58] neozenweb commented on #152
@richa208 , Did you get this bug on Safari browser? I am not able to see it either in my local build or the development build.
@WickedBrat How are the browser, media variations taken care of for the project?  Tried to check this bug on iphone (the netlify version, for safari browser), but the top black bar with hamburger menu on the left keeps disappearing.

[2019-02-19 21:08] neozenweb commented on #153
I can take this up. But I do see that in my local build, the first part is already done. That is, "Delete" button is removed from idea feed in my local version, but it still shows on the development version. @WickedBrat can you confirm.

[2019-02-20 01:31] #128 closed

[2019-02-20 02:50] WickedBrat commented on #153
@neozenweb please update your master branch with upstream and you'll be
able to see the changes.

On Wed, Feb 20, 2019, 2:38 AM Sunitha Kandalam <notifications@github.com
wrote:

[2019-02-20 04:07] #145 closed

[2019-02-20 06:25] #152 closed

[2019-02-20 06:32] #142 closed

[2019-02-20 06:39] sanyamdogra commented on #120
@WickedBrat please close this too

[2019-02-20 09:25] #120 closed

[2019-02-20 09:26] WickedBrat commented on #151
@prijeshb would you like to complete it?

[2019-02-20 11:17] RavicharanN opened #158 "Use the Github/Gitlab API to update the dynamic parameters in the project page"
**Is your feature request related to a problem? Please describe.**
The project page consists of a few dynamic parameters like "Issues", "Issues Resolved" and "Contributors". Integrate it with the Github API (for now) to dynamically fetch the details.

**Describe the solution you'd like**

**Describe alternatives you've considered**
Note that this cannot be specific to one VCS and thus have to be e

[2019-02-20 11:21] RavicharanN opened #159 "Make the username-idea pair unique"
Currently, one particular user can create any number of ideas with the same name. This has to be avoided so as to uniquely identify the ideas submitted by a particular user.

This is a beginner friendly issue and shouldn't be too hard to resolve.

[2019-02-20 13:24] neozenweb commented on #153
Thanks @WickedBrat . I have located the code where to make changes, but before I proceed, take a look at these screenshots. In **idea-feed.component.html** classes used are like  idea-card__body, idea-card__icon etc. but in the existing **details.component.html** , the project-card related class components are being used for ideas too. Should I be changing this similar to idea-card components too.

[2019-02-20 16:13] neozenweb commented on #153
@WickedBrat I have completed the first two parts and tested. Can I create a PR for the first two parts and a separate one for the dialog prompt part?
Should the same kind of dialog be used, as is being used in expand view of the idea? Thanks.

[2019-02-20 17:59] WickedBrat commented on #159
@RavicharanN I'm unable to reproduce this bug. Please use the development build [cynthesize-develop.netlify.com](https://cynthesize-develop.netlify.com/add/idea) for checking

[2019-02-20 18:02] WickedBrat commented on #153
Yes @neozenweb, you can look at the [Angular Material Dialog](https://material.angular.io/components/dialog/overview) fir more details of implementation

[2019-02-20 18:04] WickedBrat commented on #141
@thesmallstar I had a little bit different idea for implementing `virtual scroll` on this, page. I've assigned it to you. :+1:

[2019-02-20 18:05] WickedBrat commented on #114
@JayaKrishnaNamburu any updates?

[2019-02-20 18:07] WickedBrat commented on #159
Also FYI, the name column in the database is set to `unique` to avoid duplication in both idea and project tables.

[2019-02-20 19:03] #153 closed

[2019-02-21 20:01] #159 closed

[2019-02-22 04:23] AdityaAnandKrishna commented on #83
@zerefwayne  can I work on this ?

[2019-02-22 06:05] zerefwayne commented on #83
Go ahead. :+1:

On Fri 22 Feb, 2019, 09:53 Aditya Anand <notifications@github.com wrote:

[2019-02-23 08:56] WickedBrat opened #163 "Add option to mark issue as "completed""
The owner of the project shall be able to mark an issue as "completed". The completed list will also be fetched from Hasura but should appear at the top most position within a checkpoint. By default the issue should be collapsed or should show only the title (not any comments). Upon clicked, the issue should expand and should be seen.

[2019-02-23 09:02] WickedBrat opened #164 "Add share button on the project page."
We must allow users to share thier project upon different social media, like twitter and facebook.
There should be a "Share" button on the project page that open a bottom-sheet that would contain the list of links where the project could be shared.
Visit [Angular Bottom Sheet](https://material.angular.io/components/bottom-sheet/overview) for more details on implementation.

[2019-02-23 11:16] RavicharanN opened #165 "Pagination doesn't work"
The pagination in the "ProjectList" page doesn't work as of now.
Could be labeled under "Good first issue".

[2019-02-23 11:21] RavicharanN opened #166 "Make the contents in the project page editable"
Curretly, none of the information about the project is editable once it is submitted. The maintainers of the project and the admin ofCynthesize should be able to edit the details of a project.

This is what the project page looks like at the moment.
![screenshot 2019-02-23 at 4 48 23 pm](https://user-images.githubusercontent.com/22046387/53285797-15f6fa00-378b-11e9-95c1-6f4ac7333744.png)

An edit

[2019-02-23 11:35] RavicharanN opened #167 "Add an absract section for the project"
An abstract section could be added to the project which a char limit of 256 characters. This absract could be used instead of the description whenever the project is displayed in the Project list page

[2019-02-23 11:52] #112 closed

[2019-02-23 11:54] RavicharanN opened #168 "Place the abstract of the project instead of the complete description alongside the project whereever it is displayed."
Extension to #167

Might just wanna show the abstract of the project here instead of the whole description. Would be better to put the abstract there (in the image below) and then a "See description" link at the bottom.

![screenshot 2019-02-23 at 5 21 29 pm](https://user-images.githubusercontent.com/22046387/53286123-ccf57480-378f-11e9-94af-cb5da41e9ceb.png)

[2019-02-24 05:19] WickedBrat opened #169 "Automate migration process using python"
Write python script to automate the migration process. Please refer to [this link](https://docs.hasura.io/1.0/graphql/manual/migrations/existing-project.html) for more details on how to fetch and apply migrations on the existing database.
The script should lie in `scripts` folder in the root directory of the project (folder needs to be created with the PR)

[2019-02-28 14:53] Jaggu-123 commented on #168
@RavicharanN  I will like to do it .

[2019-02-28 15:02] Jaggu-123 commented on #166
I will like to do it @RavicharanN

[2019-03-01 14:50] RavicharanN commented on #168
You can proceed. Keep us updated on the progress :) @Jaggu-123

[2019-03-01 14:51] RavicharanN commented on #166
Sure 👍 Go ahead.

[2019-04-03 15:38] WickedBrat commented on #169
This has been postponed as all the links has been freed.

[2019-04-03 15:38] #169 closed

[2019-04-03 15:38] WickedBrat commented on #168
Completed

[2019-04-03 15:38] #168 closed

[2019-04-03 15:39] WickedBrat commented on #167
Completed

[2019-04-03 15:39] #167 closed

[2019-04-11 19:22] WickedBrat opened #184 "Wrap variables for types."
TypeScript's one of the strongest features is the use of types. When passing a variable in a function or declaring it. We should use type casting for every variable throughout the project. Currently, the places where it's not declared and the declared like `variable_name: any` should be converted to a proper object type or relevant variable.

Let us know if you face any issue tackling this. Happy

[2019-04-11 19:29] WickedBrat opened #185 "Replace multiple ngIf with ngIfElse"
Throughout the project, in the HTML files, some variables like `isLoading` are used to render two HTML segments and multiple `ngIf`s are used. This needs to be replaced with ngIfElse.

[2019-04-27 14:49] WickedBrat opened #189 "Replace local storage with IndexedDB"
LocalStorage, that is currently being used can cause security issues. Instead, we must use IndexedDB for storing all the key-value pairs those are currently being used in LocalStorage

[2019-04-27 14:49] #165 closed

[2019-04-27 14:50] #57 closed

[2019-04-27 14:50] #67 closed

[2019-04-27 14:50] #81 closed

[2019-04-27 14:50] #83 closed

[2019-04-27 14:51] #104 closed

[2019-04-27 14:51] #108 closed

[2019-04-27 14:51] #110 closed

[2019-04-27 14:51] #113 closed

[2019-05-10 13:57] Oishika-Pradhan commented on #164
Hi, I'm new to this org, and I'd like to start off with this issue as part of rgsoc'19. Could this issue be assigned to me?

[2019-05-11 09:04] WickedBrat commented on #164
You may go ahead with this @Oishika-Pradhan ! Let us know if you need any help!

[2019-05-13 06:29] WickedBrat opened #191 "Add a new "How it works" page"
Share your ideas for page

[2019-05-13 07:43] WickedBrat opened #192 "Remove route hashing"
Remove route hashing with what has been suggested by Angular using Angular Universal.
Link: [https://angular.io/guide/universal](https://angular.io/guide/universal)

[2019-05-14 16:58] WickedBrat commented on #192
Fixed with following `app.yaml` configuration on GCP:

[code]

[2019-05-14 16:58] #192 closed, assigned to nobody

[2019-10-09 21:11] Rupeshiya commented on #189
@WickedBrat  Can I work on this ?

[2019-10-09 21:20] Rupeshiya commented on #185
@WickedBrat Can I work ?

[2019-10-09 21:31] Rupeshiya commented on #185
@WickedBrat Can I work on this ?

[2020-11-04 14:32] #141 closed